@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@font-face {
  font-family: "Iron Man";
  src: url('https://fonts.cdnfonts.com/s/28969/IronMan.woff') format('woff'),
       url('https://fonts.cdnfonts.com/s/28969/IronMan.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Local Fonts (Make sure the font files are inside public/assets/fonts/) */
@font-face {
  font-family: "Iron Man";
  src: url('/assets/fonts/IRONMAN_.TTF') format('truetype'); /* Corrected format */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Finger Paint";
  src: url('/assets/fonts/FingerPaint-Regular.ttf') format('truetype'); /* Corrected format */
  font-weight: 400;
  font-style: normal;
}

/* Example Usage */
.custom-ironman {
  font-family: "Iron Man", sans-serif;
}

.custom-fingerpaint {
  font-family: "Finger Paint", sans-serif;
}
.custom-fingerpaint-small {
  font-family: "Finger Paint", sans-serif;
  font-size: 20px; /* Adjust size as needed */
  font-weight: 400;
  text-transform: capitalize;
}
.custom-line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (max-width: 640px) {
  .custom-line-clamp {
    -webkit-line-clamp: 15;
  }
}

@media (min-width: 768px) {
  .custom-line-clamp {
    -webkit-line-clamp: 15;
  }
}

@media (min-width: 1024px) {
  .custom-line-clamp {
    -webkit-line-clamp: 10;
  }
}
